<!doctype html>
<html>
    <head>
        <title>Foofle search</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/readable/bootstrap.css">
        <style>
         td {
             word-wrap: break-word;
         }
         table {
             table-layout: fixed;
             width:100%;
         }
        </style>
    </head>
    <body>
        <div class="container">
            <br>
            <br>
            <div class="jumbotron center">
                <div align="center"><img src="Foofle.png" width="50%" align="middle"></div>
                <div class="form-group">
                    <form action="/" method="post">
                        <div class="input-group">
                            <input type="text" class="form-control" value="{{query}}" name="input-query">
                            <span class="input-group-btn">
                                <input type="submit" class="btn btn-default" value="Buscar">
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            {% if len(results) > 0 %}
            <div class="panel panel-default">
                <table class="table table-striped table-hover">
                    <colgroup>
                        <col span="1" style="width: 15%">
                        <col span="1" style="width: 85%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Puntuación</th>
                            <th>URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                        <tr>
                            <td>{{result[0]}}</td>
                            <td><a href="{{result[1]}}">{{result[1]}}</a></td>
                        </tr>
                        {% end %}
                    </tbody>
                </table>
            </div>
            {% end %}
        </div>

        <div class="footer">
            <hr>
            <div class="container-fluid" align="center">
                <p class="text-muted">Producto engendrado en la Licenciatura en Ciencias de la Computación de la Universidad de Sonora</p>
            </div>
        </div>
    </body>
</html>
